body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.header, footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
}

.header{
    margin-bottom: 10px;
}

.header > h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    font-weight: bold;
}
main {
    display: flex;
    flex-direction: column; /* Align children in a column */
    align-items: center; /* Center children horizontally */
    justify-content: center; /* Center children vertically */
    min-height: 100vh; /* Make sure the container takes at least the full viewport height */
}

.connect{
    background-color: #f1f1f1;
}

.connect > h2{
    margin-left: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

select {
    padding: 8px;
    margin-bottom: 10px;
}

#semesters {
    text-align: center;
}

#semesters select {
    margin-right: 10px;
}
